<div class="container">
	<div class="row clearfix">


		<form class="form-horizontal" ng-submit="submitMyForm()">
			<fieldset>

				<!-- Form Name -->
				<legend>Create Program</legend>
				<!-- Select Basic -->
				<div class="form-group">
					<label class="col-md-3 control-label" for="selectbasic">Select
						Program Type</label>
					<div class="col-md-9">
						<!-- <select class="form-control" ng-model="programs.ProgramName">
							<option value="Level" selected="selected">Level</option>
							<option value="Delta">Delta</option>
							<option value="DutyCycle">Duty Cycle</option>
							<option value="Multiplier">Multiplier</option>
							<option value="Price">Price</option>
							<option value="PriceMultiplier">Price Multiplier</option>
							<option value="PriceRelative">Price Relative</option>
							<option value="Product">Product</option>

						</select> -->
						<select class="form-control" ng-model="ProgramType" ng-options="opt as opt.label for opt in programTypes"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="programName">Program
						Name</label>
					<div class="col-md-3">
						<input id="programName"  type="text"
							placeholder="Enter program name" class="form-control input-md"
							ng-model="programs.programName">
					</div>
					<label class="col-md-3 control-label" for="textinput">Short
						Name</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text"
							placeholder="Enter short name" class="form-control input-md"
							ng-model="programs.shortName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="textinput">Utility
						Name</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text"
							placeholder="Enter utility name" class="form-control input-md"
							ng-model="programs.utilityName">
					</div>

					<label class="col-md-3 control-label" for="textinput">Priority</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text"
							placeholder="Enter priority" class="form-control input-md"
							ng-model="programs.priority">
					</div>

				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="selectbasic">Select
						VEN Push Level</label>
					<div class="col-md-9">
					
					<select class="form-control" ng-model="VenPushLevel" ng-options="opt as opt.label for opt in venPushLevel"></select>
							</div>
				</div>


				<div class="form-group">
					<div class="col-md-3"></div>
					<label class="checkbox-inline"><input type="checkbox"
						value="" ng-model="programs.TestProgram">Test Program</label> <label
						class="checkbox-inline"><input type="checkbox" value=""
						ng-model="programs.EmDispatch">Emergency Dispatch</label> <label
						class="checkbox-inline"><input type="checkbox" value=""
						ng-model="programs.DayAheadDispatch">Day Ahead Dispatch</label> <label
						class="checkbox-inline"><input type="checkbox" value=""
						ng-model="programs.CommProgram">Commercial Program</label>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="DefIssueTime">Default
						Issue Time</label>
					<div class="col-md-3">
					
						<input id="DefIssueTime" name="DefIssueTime" type="text"
							 class="form-control input-md"
							ng-model="programs.DefIssueTime">
					</div>

					<label class="col-md-3 control-label" for="textinput">Default
						Start Time</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text" placeholder=""
							class="form-control input-md"
							ng-model="programs.DefStartTime">
					</div>



				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="textinput">Default
						Event Duration (min)</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text" placeholder=""
							 class="form-control input-md" ng-model="programs.DefEventDur">
					</div>
					<label class="col-md-3 control-label" for="textinput">Default
						Tolerance Start Before(min)</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text"
							placeholder="placeholder"  class="form-control input-md" ng-model="programs.DefTolStartTime">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="textinput">Default
						Tolerance Start After(min)</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text" placeholder=""
							 class="form-control input-md" ng-model="programs.DefTolStartAfterTime">
					</div>
					<label class="col-md-3 control-label" for="textinput">Min
						Issue to start(min)</label>
					<div class="col-md-3">
						<input id="textinput" name="textinput" type="text"
							placeholder="placeholder" class="form-control input-md" ng-model="programs.MinIssueStart">
					</div>
				</div>
				<!-- Textarea -->
				<div class="form-group">
					<label class="col-md-3 control-label" for="textarea">Description</label>
					<div class="col-md-9">
						<textarea class="form-control" id="textarea" name="textarea"
							placeholder="Enter description" ng-model="programs.Description"></textarea>
					</div>
				</div>

				<!-- Button (Double) -->
				<div class="form-group">
					<label class="col-md-3 control-label" for="button1id"></label>
					<div class="col-md-8">
						<button id="button1id" name="button1id" class="btn btn-success">Ok</button>
						<button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
					</div>
				</div>

			</fieldset>
		</form>
		<!-- </div> -->

	</div>
</div>
