<a class="btn btn-primary" href="#addProgram" role="button"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
<p>
<table class="table table-bordered">

 <thead>
        <tr>
          <th>Short Name</th>
          <th>Description</th>
          <th>Program Type</th>       
          <th>Shed(kW/kVA)</th>
          <th>Action
        </tr>
      </thead>
      <tbody>      
	     <tr ng-repeat="program in programs">
	        <td>{{program.ShortName}}</td>
	        <td>{{program.Description}}</td>
	        <td>{{program.ProgramType}}</td>	        
	        <td>32KW/h</td>
	        <td><a href="" ng-click="edit(program.ProgramId)">Edit</a></td>
	    </tr>
      </tbody>
    </table>
    <p>
  
